# +----------------+
# |Generical Config|
# +----------------+
build/
cfig.py
# +------------------+
# |Generic Config End|
# +------------------+


# +--------+
# |Jetbrain|
# +--------+
.idea/
.vscode/
# +------------+
# |Jetbrain end|
# +------------+


# +--------------+
# |nodeJS modules|
# +--------------+
node_modules/
package-lock.json
# +------------------+
# |nodeJS modules End|
# +------------------+


# +-----+
# |flask|
# +-----+
instance/
# +---------+
# |flask End|
# +---------+


# +------------+
# |python Cache|
# +------------+
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
*.pyc
# +----------------+
# |python Cache End|
# +----------------+


# +--------+
# |C make|
# +--------+
*.o
*.i
# +----------+
# |C make End|
# +----------+


# +-----------+
# |unknow file|
# +-----------+
venv/
.coverage
htmlcov/
dist/
*.egg-info/
# +---------------+
# |unknow file End|
# +---------------+


# +--------+
# |complier|
# +--------+
out/
# +------------+
# |complier End|
# +------------+
