[submodule "projects/rss"]
	path = projects/rss
	url = git@github.com:bGZoCg/rss.git
[submodule "tasks/Projects"]
	path = tasks/Projects
	url = git@github.com:bGZoCg/Projects.git
[submodule "projects/blog"]
	path = projects/blog
	url = git@github.com:bGZoCg/blog.git
